<div class="home-page" data-controller="slideshow">
  <%# <h1 class="site-title">DJTech</h1> %>
  <%# <p class="sub-title">Find the best products here.</p> %>

  <aside class= "aside-bar">
    <section class="first">Processors</section>
    <section>Motherboards</section>
    <section>Graphics Cards</section>
    <section>Computer Memory / RAM</section>
    <section>Hard Drives & SSDs</section>
    <section>Computer Cases</section>
    <section>Power Supplies</section>
    <section>Computer Fans & Cooling</section>
  </aside>

  <!-- Slideshow container -->
  <div class="slideshow-container">
    <div class="slides-wrapper">

      <div class="mySlides" data-slideshow-target="slide">
        <img src="https://via.placeholder.com/2100x900.png?text=Slide+1" style="width: 100%; height: auto;">
      </div>

      <div class="mySlides" data-slideshow-target="slide">
        <img src="https://via.placeholder.com/2100x900.png?text=Slide+2" style="width: 100%; height: auto;">
      </div>

      <div class="mySlides" data-slideshow-target="slide">
        <img src="https://via.placeholder.com/2100x900.png?text=Slide+3" style="width: 100%; height: auto;">
      </div>

    </div>
  </div>
</div>
