<div class="home-page" data-controller="slideshow">
  <%# <h1 class="site-title">DJTech</h1> %>
  <%# <p class="sub-title">Find the best products here.</p> %>

  <aside class="aside-bar">
    <h3 class="aside-title">Categories</h3>
    <nav>
      <ul class="aside-list">
        <li class="aside-item processors">Processors</li>
        <li class="aside-item motherboards">Motherboards</li>
        <li class="aside-item graphics-cards">Graphics Cards</li>
        <li class="aside-item computer-memory">Computer Memory / RAM</li>
        <li class="aside-item hard-drives">Hard Drives & SSDs</li>
        <li class="aside-item computer-cases">Computer Cases</li>
        <li class="aside-item power-supplies">Power Supplies</li>
        <li class="aside-item computer-fans">Computer Fans & Cooling</li>
        <li class="aside-item other">Other</li>
      </ul>
    </nav>
  </aside>


  <!-- Slideshow container -->
  <div class="slideshow-container">
    <div class="slides-wrapper">

      <div class="mySlides" data-slideshow-target="slide">
        <img src="https://via.placeholder.com/2100x900.png?text=Slide+1" style="width: 100%; height: auto;">
      </div>

      <div class="mySlides" data-slideshow-target="slide">
        <img src="https://via.placeholder.com/2100x900.png?text=Slide+2" style="width: 100%; height: auto;">
      </div>

      <div class="mySlides" data-slideshow-target="slide">
        <img src="https://via.placeholder.com/2100x900.png?text=Slide+3" style="width: 100%; height: auto;">
      </div>

    </div>
  </div>
</div>
