<p>Hello <%= @name %>,</p>

<p>Thank you for contacting JDTech support. Here is a copy of your message:</p>

<p><%= @message %></p>

<p>We will get back to you as soon as possible. Your ticket number is <%= @ticket_number %>.</p>

<p>Best regards,<br>
JDTech Support Team</p>