/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'nav';
 @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


 .site-title, .sub-title, .footer-title {
    padding-left: 1rem; /* You can adjust the value as needed */
  }
  

  .slideshow-container {
    max-width: 100%;
    overflow: hidden; /* Hide overflow to create sliding effect */
    position: relative;
  }

  .slides-wrapper {
    display: flex; /* Arrange horizontally */
    transition: transform 1s ease-in-out; /* Smooth slide transition */
  }

  .mySlides {
    min-width: 100%; /* Make each slide occupy full container width */
    box-sizing: border-box; /* Prevent padding issues */
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    padding: 20px;
  }
  
  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
  }
  