 @import 'nav';
 @import "tailwindcss/base";
 @import "tailwindcss/components";
 @import "tailwindcss/utilities";

body {
    margin: 0;
    padding: 0;
}

.navbar {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 .navbar li {
     float: left;
 }

 .navbar li.right_side {
     float: right;
 }

 .navbar li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 .navbar li a:hover {
     background-color: #111;
 }

ul.navbar .brand {
    display: block;
    color: rgb(171, 171, 171);
    text-align: center;
    padding: .15em;
    margin-left: 0.2em;
    border: 0;
    font-family: 'Rocket Rinder', sans-serif;
    font-size: 2em;
}